randomization-inference-note.aux
randomization-inference-note.fdb_latexmk
randomization-inference-note.fls
randomization-inference-note.log
randomization-inference-note.out
!randomization-inference-note.pdf
!figures/takeup-original-assignment.pdf
!figures/takeup-realized-distance.pdf
